*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  outline-offset: 5px;
}

li { list-style: none; }

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

img, svg, ion-icon, span, button { display: block; }

html {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar { width: 5px; }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: hsl(45, 91%, 58%);
}

::-webkit-scrollbar-thumb:hover { background: hsl(249, 37%, 19%); }


.btn {
  height: 55px;
  padding: 0 25px;
  color: hsl(249, 37%, 19%);
  font-size: 14px;
  font-weight: 500;
  transition: 0.75s ease;
}



.section-title {
  max-width: 420px;
  color: hsl(249, 37%, 19%);
  font-size: 28px;
  font-weight: 600;
}

.section-text {
  max-width: 320px;
  color:  hsl(240, 9%, 51%);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}


.container {
  position: relative;
  max-width: 1440px;
  margin: auto;
  background: hsl(0, 0%, 100%);
  overflow: hidden;
}


.navbar {
  position: fixed;
  top:   0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 20px 30px;
  background: hsla(0, 0%, 100%, 0.99);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
  z-index: 5;
}

.navbar-wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
}

.navbar-nav {
  background: hsla(0, 0%, 100%, 0.9);
  position: absolute;
  top: 91px;
  left: 0;
  width: 100%;
  height: calc(100vh - 91px);
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 30px;
  padding: 35px;
  backdrop-filter: blur(10px);
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}

.navbar-nav.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.nav-link {
  color: hsl(249, 37%, 19%);
  font-size: 14px;
  transition: 0.25s ease;
}

.nav-link:hover {
   color: hsl(45, 91%, 58%); 
  }

.navbar-btn-group {
  display:     flex;
  align-items: center;
  gap: 25px;
}

.menu-toggle-btn {
  display:        flex;
  flex-direction: column;
  width: 20px;
  gap: 5px;
}

.menu-toggle-btn .line {
  background: hsl(249, 37%, 19%);
  width: 20px;
  height: 2px;
  border-radius: 2px;
  transition: 0.25s ease;
}

.menu-toggle-btn.active .one { transform: translateY(7px) rotate(-45deg); }

.menu-toggle-btn.active .two { transform: rotate(45deg); }

.menu-toggle-btn.active .three { transform: translateY(-7px) rotate(-45deg); }

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  color: hsl(45, 91%, 58%);
  
}

.cart-box {
  position: fixed;
  bottom: 0;
  right:  0;
  max-width: 400px;
  width: 100%;
  height: calc(100vh - 91px);
  background: hsla(0, 0%, 100%, 0.9);
  box-shadow: -1px 1px 3px 0 hsla(0, 0%, 0%, 0.05);
  backdrop-filter: blur(10px);
  transform: translateX(100%);
  visibility: hidden;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.cart-box.active {
  transform: translateX(0);
  visibility: visible;
}


.home {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 150px 30px 60px;
}

.home-left { text-align: center; }

.home-subtext {
  background: hsl(220, 13%, 95%);
  color:  hsl(249, 37%, 19%);;
  font-size: 13px;
  display: inline-block;
  padding: 3px;
  margin-bottom: 30px;
}

.main-heading {
  color:  hsl(249, 37%, 19%);;
  font-size: 46px;
  font-weight: 600;
  line-height: 1.1;
 
  margin-bottom: 30px;
}

.home-text {
  color: hsl(240, 9%, 51%);
  margin-bottom: 30px;
  line-height: 1.6;
}

.home .btn-group {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 15px;
}

.home-right {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 15px;
  position: relative;
  aspect-ratio: 10 / 11;
  padding-top: 110%;
}

.food-img {
  position: absolute;
  width: 60%;
}

.food-1 {
  top:  25%;
  left: -4%;
}

.food-2 {
  top:    0;
  right: -4%;
  
}

.food-3 {
  bottom: -4%;
  right:  -4%;
}

.about {
  padding: 60px 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}

.about-left { position: relative; }

.about-left .img-box {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.about-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  animation: lazy-scaleUp 30s linear infinite;
}


@keyframes lazy-scaleUp {

  0%,
  100% { transform: scale(1); }
  50%  { transform: scale(1.2); }

}

.about-right .section-title { 
  margin-bottom: 30px; 
}

.about-right p {
  max-width: 100%;
  margin-bottom: 30px;
}

.services {
  padding: 60px 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.service-card .card-number {
  font-size: 42px;
  font-family: "Monoton", cursive;
  color: hsl(45, 91%, 58%);
}

.service-card .card-heading {
  color: hsl(249, 37%, 19%);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.service-card .card-text {
  color: hsl(240, 9%, 51%);
  font-size: 15px;
  line-height: 1.5;
}

.product { 
  padding: 60px 30px;
 }

.product .section-title {
   margin-bottom: 30px; 
  }

.product .section-text { 
  margin-bottom: 60px;
 }

.products-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 50px;
}

.product-card .img-box {
  position: relative;
  overflow: hidden;
}

.product-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
  transition:  0.75s ease;
}

.product-card:hover .product-img { transform: scale(1.05); }


.product-card .wrapper {
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  gap: 15px;
  background: hsl(220, 13%, 95%);
  margin-bottom: 15px;
}

.product-card .product-name {
  color: hsl(249, 37%, 19%);
  font-size: 18px;
  font-weight: 600;
  padding-left: 15px;
}

.product-card .product-price {
  background: hsl(45, 91%, 58%);
  height: 60px;
  width:  60px;
  display:         flex;
  justify-content: center;
  align-items:     center;
  color: hsl(249, 37%, 19%);
  font-size: 24px;
  font-weight: 500;
}

.product-card .small {
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
}

.product-card .product-text {
  font-size: 15px;
  color: hsl(240, 9%, 51%);
  line-height: 1.6;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
}

.product-card .product-rating {
  display:     flex;
  align-items: center;
  gap: 5px;
  color: hsl(45, 91%, 58%);
}



.testimonials {
   padding: 60px 30px 120px; 
  }

.testimonials .section-title { 
  margin-bottom: 15px; 
}

.testimonials .section-text { 
  margin-bottom: 50px; 
}

.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.testimonials-card .card-title {
  color: hsl(249, 37%, 19%);
  font-weight: 600;
  margin-bottom: 15px;
}

.testimonials-rating {
  display:     flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 15px;
}

.fa-solid{ 
  color: hsl(45, 91%, 58%); 
}

.testimonials-text {
  font-size: 15px;
  color: hsl(240, 9%, 51%);
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.customer-info {
  display:     flex;
  align-items: center;
  gap: 15px;
}

.customer-img-box {
  width:  50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-img {
  width:  100%;
  height: 100%;
  object-fit: cover;
}

.customer-name {
  font-size: 14px;
  color: hsl(249, 37%, 19%);
  font-weight: 600;
}

footer {
  background: hsl(249, 37%, 19%);
  padding: 50px 30px;
}

.footer-wrapper {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  gap: 30px;
}

.social-link {
  display: flex;
  gap: 15px;
}

.fa-brands{
  color: hsl(220, 13%, 95%);
  font-size: 15px;
  transition: 0.25s ease;
}

.fa-brands:hover { 
  color: hsl(45, 91%, 58%); 
}
